.user-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .user-card {
    width: 550px;
    display: flex;
    align-items: center;
    background-color: #060000;
    padding: 7px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-avatar {
    width: 220px;
    height: 220px;
    border-radius: 0%;
  }
  
  .user-details {
    margin-left: 20px;
  }
  
  .user-name {
    font-size: 18px;
    color: #888888;
    margin: 0;
  }
  
  .user-email {
    margin: 0;
    color: #888888;
  }
  
  @media (max-width: 768px) {
    .user-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .user-details {
      margin-top: 10px;
      margin-left: 0;
    }
  }
  